.cartItemCard{
    display: flex;
    padding: 1vmax;
    height: 8vmax;
    margin: 1vmax 0;
    align-items: flex-start;
    box-sizing: border-box;
}

.cartItemCard > img{
    width: 5vmax;
    height: 8vmax;
}

.cartItemCard > div{
    display: flex;
    flex-direction: column;
    margin: .3vmax 1vmax;
}

.cartItemCard > div > a{
    font: 300 .9vmax "Roboto";
   color: rgba(24, 24, 24, .815);
   text-decoration: none;
}

.cartItemCard > div > span{
    font: 300 .9vmax "Roboto";
    color: rgba(24, 24, 24, .815);
}

.cartItemCard > div > p{
    color: tomato;
    font: 100 .8vmax "Roboto";
    cursor: pointer;
}


@media screen  and (max-widht:600px){
    .cartItemCard{
        padding: 3vmax;
        height: 25vmax;
    }
    .cartItemCard > img{
        width: 10vmax;
    }
    .cartItemCard > div{
        margin: 1vmax 1vmax;
    }
    .cartItemCard > div > a{
        font: 300 2vmax cursive;
    }
    .cartItemCard > div > span{
        font:100 1.8vmax "Roboto";
    }
    .cartItemCard > div > p{
        font: 100 1.8vmax "Roboto";
    }
}